$layout-breakpoint--is-small: 768px !default;
$layout-breakpoint--is-small-up: 769px !default;
$layout-breakpoint--is-medium: 980px !default;
$layout-breakpoint--is-medium-up: 981px !default;
$layout-breakpoint--is-large: 1920px !default;
$layout-breakpoint--is-large-up: 1921px !default;

$page-container-max-width: 1180px;

// transition のイージング
$easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
